* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
#iq8v{
  background-repeat:unset;
  background-position:unset;
  background-attachment:unset;
  background-size:unset;
  background-image:unset;
  background-image-color:unset;
  background-image-gradient:unset;
  background-image-gradient-dir:unset;
  background-image-gradient-type:unset;
}
.Text.Text2{
  padding:10px;
  border:0px solid black;
  font-family:Arial Black, Gadget, sans-serif;
  font-size:40px;
  font-weight:900;
  color:black;
  text-align:justify;
  text-shadow:0px 0px 20px black;
}
#i4g1h{
  padding:10px;
  font-family:Arial Black, Gadget, sans-serif;
  font-size:20px;
  font-weight:900;
  color:#000000;
  text-shadow:0px 12px 10px black;
}
#id8y9{
  text-shadow:0 2px 10px black;
}
#ibiqp{
  text-shadow:0 1px 10px black;
}
.Text-Yapping{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  white-space-collapse:break-spaces;
  text-align:left;
}
.Not-really-yapping{
  padding:10px;
  text-align:right;
  font-family:Arial Black, Gadget, sans-serif;
  text-shadow:unset;
  float:right;
  color:#000000;
}
#iz6le{
  padding:10px;
  float:none;
}
#iqj4h{
  padding:10px;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0px 1px 10px black;
}
#inzg{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  margin:0 0 0 -10px;
  text-shadow:0 2px 10px black;
}
#i903n-2{
  padding:10px;
  font-family:Arial Black, Gadget, sans-serif;
  opacity:1;
  text-shadow:0 1px 10px black;
}
#ib4rw{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0 2px 10px black;
}
#is2gk{
  padding:10px;
  font-family:Arial Black, Gadget, sans-serif;
  color:black;
  text-shadow:0px 1px 10px black;
}
#icd1b{
  padding:10px;
  font-family:"Arial Black", Gadget, sans-serif;
}
#iu0og{
  color:rgb(0, 116, 255);
  font-family:"Arial Black", Gadget, sans-serif;
}
#i4zba{
  padding:0px 10px 0px 0;
  font-family:Arial Black, Gadget, sans-serif;
  margin:-10px 0px 0px -37px;
  left:21px;
  float:left;
}
#i239y{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0 2px 10px black;
  margin:0px 0px 0px 1px;
  padding:0 0px 0px 0px;
  top:0px;
  height:0px;
  float:none;
  text-align:center;
}
#i25on{
  text-shadow:0 2px 10px black;
  float:left;
  bottom:0px;
  margin:0px 0px 0px 0px;
}
#in9ti{
  font-family:Arial Black, Gadget, sans-serif;
  text-shadow:0 1px 10px black;
}
#ic8g8{
  font-family:"Arial Black", Gadget, sans-serif;
  text-shadow:black 0px 1px 10px;
}
#ihelz{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0 1px 10px black;
}
#iaeg1{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0 2px 10px black;
  margin:0px 0px 0px 1px;
  padding:0 0px 0px 0px;
  top:0px;
  height:0px;
  float:none;
  text-align:center;
}
#itg9l{
  padding:10px;
  font-family:Arial Black, Gadget, sans-serif;
  text-shadow:0px 1px 10px black;
}
#il7ps{
  color:#000000;
  font-family:Arial Black, Gadget, sans-serif;
  text-decoration:none;
  text-shadow:0 2px 10px black;
  margin:0px 0px 0px 1px;
  padding:0 0px 0px 0px;
  top:0px;
  height:0px;
  float:none;
  text-align:center;
}
